# Database
POSTGRES_DB=website_configurator
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_in_production

# MinIO / S3
MINIO_ROOT_USER=change_me_in_production
MINIO_ROOT_PASSWORD=change_me_in_production
STORAGE_ENDPOINT=http://minio:9000
STORAGE_ACCESS_KEY=change_me_in_production
STORAGE_SECRET_KEY=change_me_in_production
STORAGE_BUCKET_NAME=website-configurator
STORAGE_PUBLIC_URL=/storage
STORAGE_REGION=us-east-1

# App
SERVER_PORT=8080
DOMAIN=yourdomain.com
